body{
  background-color: #ebe7df;
}
ul {
  margin: 0;
padding: 0;
list-style-type: none;
}
li{
   float: left;
}
/*Top Header CSS*/
.top-header {
    background: #242424;
    border-radius: 0;
    padding: 4px 0px;
}
.top-header-right h5{
  color: #666666;
  font-size: 13px;
  padding-top: 15px;
}
.top-header-right li{
  padding-right: 20px;
}
.top-header-right .fa-search{
  padding-top: 15px;
}
.logo h1{
  font-size: 26px;
  color: #57c5a0;
}
.top-header-right  ul li a:hover, a:visited, a:active , a:focus {
    color: #57c5a0;
}
.top-header-right  ul li a:visited {
  background: transparent;
}
.top-header-right ul li a {
    color: #666666;
}
.top-header-right ul li  a:hover{
    background: transparent;
}
.top-header-right ul li  a:focus{
    background: transparent;
}
.top-header-right ul li  a:active{
    background: transparent;
}
.top-header-right ul li  a:visited{
    background: transparent;
}
/*Buttom Header my-nav*/
#my-nav {
    border-color: #c9c7c3;
    background-color: #fff;
      border-radius: 0;

}
#my-nav ul li {

    border-left:  1px solid #ebe7df;
    color: #000000;

}
#my-nav ul li a:hover, a:visited, a:active , a:focus {

    background-color: #fff;
    color: #57c5a0;
    -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
#my-nav ul li a {
    color: #000000;

}
#my-nav ul li  a:hover{
    background: transparent;
}
#my-nav ul li  a:focus{
    background: transparent;
}
#my-nav ul li  a:active{
    background: transparent;
}
#my-nav ul li  a:visited{
    background: transparent;
}
.navbar-toggle {
    color: #57c5a0;
}

/*END OF BUTTOM*/

/*special-items*/
#special-items{
  background-color: #242424;
  padding-top: 14px;

}
#special-items img{
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
	margin: 0 auto;
}
#special-items a:hover img{
    -webkit-transform: scale(1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 700ms;
    -moz-transform: scale(1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 700ms;
    overflow: hidden;
	cursor:pointer;
}
  .post-content {
  position: relative;
  display: table;
  padding-bottom: 14px;
  }
    .post-content img {
     width: 100%;
  }
  .caption {
      z-index: 99;
      width: 40%;
      background: none repeat scroll 0 0 #000000;
       opacity: 0.8;
       padding-top: 12px;
      margin-left: 24%;
      vertical-align: middle;
      position: absolute;
      top: 38%; /* Obvious problem, cause it's arbitrary */
  }
  .caption p {
      text-align: center;
      color: #fff;
      font-size: 100%;
      font-weight:lighter;

  }
/*Main Items */
#main-items h2{
  padding-top: 15px;
  padding-bottom: 10px;
  font-size: 25px;
  color: #242424;
}
.price1{
	font-size: 0.8725em;
	color: #ffffff;
	padding: 20px 10px;
  margin-right: 9px;
	position: absolute;
	top: 0px;
	right: 14px;
	text-transform:uppercase;
}
.price1.bg{
	background: #242424;
}
.out{
	color: #ffffff;
	padding: 20px 10px;
  margin-right: 9px;
	position: absolute;
	top: 0px;
	right: 14px;
	text-transform:uppercase;
}
.out.bg{
background:  #f27e4b;

}

.top_main {
  margin-top: 25px;
}
.top_main a{
	font-size: 19px;
	float: right;
    margin-bottom: 10px;
	text-transform: capitalize;
	padding: 8px 20px;
	color: #BCB4A7;
	border: 1px solid #BCB4A7;

}
.top_main a:hover, a:visited, a:active , a:focus {
  text-decoration: none;
	background:#BCB4A7;
	color: #fff;

}
.item-prop{
background-color: #fff;
  margin-bottom: 10px;
  background-clip: border-box;
  background-clip:padding-box;
  background-clip: content-box;
}
 .price{
  background-color: #57c5a0;
}
#main-items ul li{
  margin-right: 10px;
  color: #666666;
}
#main-items img{
  width: 100%;
}
#main-items ul li a{
    color: #666666;

}
#main-items ul li a:hover, a:visited, a:active , a:focus {

    text-decoration: none;
    color: #57c5a0;
    -webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}
#main-items img{
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
	margin: 0 auto;
}
#main-items a:hover img{
    -webkit-transform: scale(1.05);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 700ms;
    -moz-transform: scale(1.05);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 700ms;
    overflow: hidden;
	cursor:pointer;
}
.button {
    background-color: #57c5a0;
    border: none;
    margin-left: 20px;
    color: white;
    padding: 33px 10px;
    margin-top: -190px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
}
/*FOOTER*/
footer{
  margin-top: 27px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 13.3px;
  background-color: #2e2e2e;
  color: #747474;
}

footer .footer-right li a:hover, a:visited, a:active , a:focus {
  text-decoration: none;
    color: #57c5a0;
}
.footer-right  li a {
    color: #747474;
}
